{% extends 'base.html' %}
{% load static %}

    {% block page_title %}«РесайклПро» — Переработка электронных отходов, техники и оборудования{% endblock %}
    {% block meta_description %} ООО «РесайклПро» — переработка и утилизация электронных отходов. ✅ Имеем лицензию. ✅ Включены в реестр переработчиков. ✅ Бесплатный вывоз. ✅ Работаем по взаимозачету. ☎ +375 (29) 110-33-04 {% endblock %}
    {% block opg %}
    <meta property="og:title" content="«РесайклПро» — Переработка электронных отходов, техники и оборудования" />
    <meta property="og:description" content="ООО «РесайклПро» — переработка и утилизация электронных отходов. ✅ Имеем лицензию. ✅ Включены в реестр переработчиков. ✅ Бесплатный вывоз. ✅ Работаем по взаимозачету. ☎ +375 (29) 110-33-04" />
    <meta property="og:url" content="{{ request.build_absolute_uri }}" />
    <meta property="og:image" content="{% static '/img/logo.png' %}"/>
    {% endblock %}
    {% block scripts %}
    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "FAQPage",
      "mainEntity": [{
        "@type": "Question",
        "name": "Режим работы",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "<p>Мы принимаем электрообрудование и радиодетали на переработку каждый день. <b>Будние дни</b>: с 08:00 до 20:00; <b>Выходные дни</b>: 08:00 до 19:00.</p>"
        }
      }, {
        "@type": "Question",
        "name": "Где можно сдать электрообрудование и радиодетали на переработку",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "<p>«РесайклПро» работает по всей Беларуси. Подробную информацию о наших приемных пунктах вы можете найти на странице <i>'Пункты приема'</i>. Если вашего города нет в списке, вы можете уточнить информцию у наших менеджеров по телефону <b>+375 (29) 392-44-92</b></p>"
        }
      }, {
        "@type": "Question",
        "name": "Услуги для юридических и физических лиц",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "<p><b>Для юридических лиц мы предлагаем</b>:<br>- Списание. Определение тех. состояния<br>- Переработку лома и отходов драгметаллов<br>- Переработку (утилизацию) электронного оборудования<br><br><b>Для физических лиц мы предлагаем</b>:<br>- Скупку радиодеталей<br>- Бесплатный вывоз бытовой техники</p>"
        }
      }, {
        "@type": "Question",
        "name": "Какое оборудование можно сдать на переработку",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "<p>Мы принимаем на переработку электрооборудование в полной комплектации (холодильники, стиральные машины, газовые и электроплиты и т.д.)</p>"
        }
      }]
    }
    </script>
    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@graph": [
          {
              "@type": "ImageObject",
              "@id": "{% static 'img/icons/user.svg' %}",
              "url": "{% static 'img/icons/user.svg' %}",
              "contentUrl": "{% static 'img/icons/user.svg' %}"
          }, {
              "@type": "ImageObject",
              "@id": "{% static 'img/icons/briefcase-2.svg' %}",
              "url": "{% static 'img/icons/briefcase-2.svg' %}",
              "contentUrl": "{% static 'img/icons/briefcase-2.svg' %}"
          }, {
              "@type": "ImageObject",
              "@id": "{% static '/img/brands/c1.jpg' %}",
              "url": "{% static '/img/brands/c1.jpg' %}",
              "contentUrl": "{% static '/img/brands/c1.jpg' %}"
          }, {
              "@type": "ImageObject",
              "@id": "{% static '/img/brands/c2.jpg' %}",
              "url": "{% static '/img/brands/c2.jpg' %}",
              "contentUrl": "{% static '/img/brands/c2.jpg' %}"
          }, {
              "@type": "ImageObject",
              "@id": "{% static '/img/brands/c3.jpg' %}",
              "url": "{% static '/img/brands/c3.jpg' %}",
              "contentUrl": "{% static '/img/brands/c3.jpg' %}"
          }, {
              "@type": "ImageObject",
              "@id": "{% static '/img/brands/c4.jpg' %}",
              "url": "{% static '/img/brands/c4.jpg' %}",
              "contentUrl": "{% static '/img/brands/c4.jpg' %}"
          }, {
              "@type": "ImageObject",
              "@id": "{% static '/img/brands/c5.jpg' %}",
              "url": "{% static '/img/brands/c5.jpg' %}",
              "contentUrl": "{% static '/img/brands/c5.jpg' %}"
          }, {
              "@type": "ImageObject",
              "@id": "{% static '/img/brands/c6.jpg' %}",
              "url": "{% static '/img/brands/c6.jpg' %}",
              "contentUrl": "{% static '/img/brands/c6.jpg' %}"
          }, {
              "@type": "ImageObject",
              "@id": "{% static '/img/brands/c7.jpg' %}",
              "url": "{% static '/img/brands/c7.jpg' %}",
              "contentUrl": "{% static '/img/brands/c7.jpg' %}"
          }, {
              "@type": "ImageObject",
              "@id": "{% static '/img/brands/c8.jpg' %}",
              "url": "{% static '/img/brands/c8.jpg' %}",
              "contentUrl": "{% static '/img/brands/c8.jpg' %}"
          }, {
              "@type": "ImageObject",
              "@id": "{% static 'img/derevo.jpg' %}",
              "url": "{% static 'img/derevo.jpg' %}",
              "contentUrl": "{% static 'img/derevo.jpg' %}"
          }]
    }
    </script>
    {% endblock %}
{% block header_class %}
<header class="wrapper" style="background-color: #e9ffee;">
{% endblock %}
{% block content %}
<div class="content-wrapper">
    <section class="video-wrapper bg-overlay ratio ratio-16x9">
        <video poster="./assets/img/photos/movie2.jpg" src="{% static '/media/movie2.mp4' %}" autoplay loop playsinline muted></video>
        <div class="video-content">
        <div class="container py-14 py-md-10">
          <div class="row gx-lg-8 gx-xl-12 gy-10 align-items-center">

            <div class="col-lg-5">
                <h1 class="display-4 mb-3">Мы скупаем радиодетали, платы и катализаторы</h1>
                <p class="lead fs-lg">Оказывыаем услуги для юридических лиц по утилизации оборудования</p>
                
                <a href="#" class="btn btn-primary rounded-pill m-3">Заказать звонок</a>
                <a href="{% url 'search' %}" class="btn btn-outline-primary rounded-pill m-3">Поиск по артикулу</a>
              </div>
              <!--/column -->

            <div class="col-lg-7">
                <div class="card shadow-lg card-border-top border-primary">
                    <div class="card-body"><script async src="https://telegram.org/js/telegram-widget.js?22" data-telegram-post="rproby/236" data-width="100%"></script></div>
                  </div>
                  
                
            </div>
            <!--/column -->
            
          </div>
          <!--/.row -->
          <div class="position-relative formGlobal pt-10">
            <div class="calcForm">
                <div class="calcheader">Калькулятор стоимости радиодеталей</div>
                <form>

                    <div id="calcForm">


                    </div>
                    <div class="form-row calcItemSec">
                            <a onclick="addNewProduct()" class="btn sec-button rounded-pill mb-2 me-1">+</a>

                       <div class="calcNavs">
                           <a class="btn sec-button rounded-pill mb-2 me-1" onclick="senddata()" data-bs-toggle="modal" data-bs-target="#modal-02">Оформить продажу</a>
                           <span class="badge bg-yellow rounded-pill summarycalc">Итого: <span id="finalprice">0</span></span>

                       </div>
                       </div>
                </form>
            </div>
            <div class="shape bg-dot primary rellax w-17 h-20" data-rellax-speed="1"
                 style="top: -2.5rem; right: -2.7rem;"></div>
        </div>
    </div>
    <!-- /.container -->
  </div>
  <!-- /.video-content -->
</section>


   
      <section class="wrapper bg-light">
        <div class="container py-14 py-md-12">
          <div class="row gx-lg-8 gx-xl-12 gy-10">
            <div class="col-lg-6 mb-0">
              
              <h3 class="display-5 mb-4">Услуги для юридических лиц</h3>
              <p class="lead mb-6">Мы предоставляем услуги по утилизации оборудования с полным сопровождением всего процесса сделки</p>
              <a href="#" class="btn btn-primary rounded-pill">Получить консультацию</a>
            </div>
            <!--/column -->
            <div class="col-lg-6">
              <div id="accordion-3" class="accordion-wrapper">
                <div class="card accordion-item">
                  <div class="card-header" id="accordion-heading-3-1">
                    <button class="collapsed" data-bs-toggle="collapse" data-bs-target="#accordion-collapse-3-1" aria-expanded="false" aria-controls="accordion-collapse-3-1">Услуга технического заключения о непригодности техники</button>
                  </div>
                  <!-- /.card-header -->
                  <div id="accordion-collapse-3-1" class="collapse" aria-labelledby="accordion-heading-3-1" data-bs-target="#accordion-3">
                    <div class="card-body">
                      <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cras mattis consectetur purus sit amet fermentum. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec sed odio dui. Cras justo odio, dapibus ac facilisis.</p>
                    </div>
                    <!-- /.card-body -->
                  </div>
                  <!-- /.collapse -->
                </div>
                <!-- /.card -->
                <div class="card accordion-item">
                  <div class="card-header" id="accordion-heading-3-2">
                    <button class="collapsed" data-bs-toggle="collapse" data-bs-target="#accordion-collapse-3-2" aria-expanded="false" aria-controls="accordion-collapse-3-2">Переработка электронного оборудования</button>
                  </div>
                  <!-- /.card-header -->
                  <div id="accordion-collapse-3-2" class="collapse" aria-labelledby="accordion-heading-3-2" data-bs-target="#accordion-3">
                    <div class="card-body">
                      <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cras mattis consectetur purus sit amet fermentum. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec sed odio dui. Cras justo odio, dapibus ac facilisis.</p>
                    </div>
                    <!-- /.card-body -->
                  </div>
                  <!-- /.collapse -->
                </div>
                <!-- /.card -->
                <div class="card accordion-item">
                  <div class="card-header" id="accordion-heading-3-3">
                    <button class="collapsed" data-bs-toggle="collapse" data-bs-target="#accordion-collapse-3-3" aria-expanded="false" aria-controls="accordion-collapse-3-3">Безвозмездная сдача</button>
                  </div>
                  <!-- /.card-header -->
                  <div id="accordion-collapse-3-3" class="collapse" aria-labelledby="accordion-heading-3-3" data-bs-target="#accordion-3">
                    <div class="card-body">
                      <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cras mattis consectetur purus sit amet fermentum. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec sed odio dui. Cras justo odio, dapibus ac facilisis.</p>
                    </div>
                    <!-- /.card-body -->
                  </div>
                  <!-- /.collapse -->
                </div>
                <!-- /.card -->
                
              </div>
              <!-- /.accordion-wrapper -->
            </div>
            <!--/column -->
          </div>
          <!--/.row -->
        </div>
        <!-- /.container -->
      </section>
      <!-- /section -->



      <section class="wrapper bg-light">
        <div class="container pb-10">
            <h2 class="display-5 mb-7 center-block">Нам доверяют</h2>
            <div class="carousel owl-carousel clients" data-margin="30" data-loop="true" data-dots="false" data-autoplay="true" data-autoplay-timeout="3000" data-responsive='{"0":{"items": "2"}, "768":{"items": "4"}, "992":{"items": "5"}, "1200":{"items": "6"}, "1400":{"items": "7"}}'>
                <div class="item px-5"><img src={% static "/img/brands/c1.jpg" %} alt="Мы скупаем радиодетали" /></div>
                <div class="item px-5"><img src={% static "/img/brands/c2.jpg" %} alt="Мы скупаем радиодетали" /></div>
                <div class="item px-5"><img src={% static "/img/brands/c3.jpg" %} alt="Мы скупаем радиодетали" /></div>
                <div class="item px-5"><img src={% static "/img/brands/c4.jpg" %} alt="Мы скупаем радиодетали" /></div>
                <div class="item px-5"><img src={% static "/img/brands/c5.jpg" %} alt="Мы скупаем радиодетали" /></div>
                <div class="item px-5"><img src={% static "/img/brands/c6.jpg" %} alt="Мы скупаем радиодетали" /></div>
                <div class="item px-5"><img src={% static "/img/brands/c7.jpg" %} alt="Мы скупаем радиодетали" /></div>
                <div class="item px-5"><img src={% static "/img/brands/c8.jpg" %} alt="Мы скупаем радиодетали" /></div>

            </div>
            <!-- /.owl-carousel -->
        </div>
        <!-- /.container -->
    </section>


      <section class="wrapper bg-light">
        <div class="container ">
            <h2 class="display-5 mb-7 center-block">Новости</h2>
          <div class="row gx-md-8 gx-xl-4 gy-10">

            {% for article in articles%}           
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="{{article.article_image.url}}" alt="" />
                    <div class="card-body">
                      {{ article.article_name}}
                    </div>
                    <!--/.card-body -->
                  </div>
                  <!--/.card -->
            </div>
            <!-- /column -->
            {% endfor %}
          </div>
          <!-- /.row -->
          <div class="w-100" style="text-align:right;"><a class="underline-2 green">Смотреть все новости</a></div>
        </div>
        <!-- /.container -->
      </section>


    <section class="wrapper bg-light">
            <div class="container py-10">
                <div class="card bg-soft-primary rounded-4">
                    <div class="card-body p-md-10 p-xl-11">
                        <div class="row gx-lg-8 gx-xl-12 gy-10">
                            <div class="col-lg-6">
                                <h2 class="display-4 mb-4">Часто задаваемые вопросы</h2>
                                <p class="lead fs-lg mb-0">РесайклПро имеет сеть приемных пунктов по всей Беларуси. Хотите посмотреть полный список приемных пунктов? — <a href="{% url 'punkty' %}">Жмите сюда!</a></p>
                            </div>
                            <!--/column -->
                            <div class="col-lg-6">
                                <div class="accordion accordion-wrapper" id="accordionExample">
                                    <div class="card plain accordion-item">
                                        <div class="card-header" id="headingOne">
                                            <button class="collapsed" data-bs-toggle="collapse"
                                                    data-bs-target="#collapseOne" aria-expanded="true"
                                                    aria-controls="collapseOne">Режим работы
                                            </button>
                                        </div>
                                        <!--/.card-header -->
                                        <div id="collapseOne" class="accordion-collapse collapse"
                                             aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                            <div class="card-body">
                                                <br>Мы принимаем  электрообрудование и радиодетали на переработку каждый день.</br>
Будние дни: с 08:00 до 20:00;</br>
Выходные дни: 08:00 до 19:00. </br>
</p>
                                            </div>
                                            <!--/.card-body -->
                                        </div>
                                        <!--/.accordion-collapse -->
                                    </div>
                                    <!--/.accordion-item -->
                                    <div class="card plain accordion-item">
                                        <div class="card-header" id="headingTwo">
                                            <button class="collapsed" data-bs-toggle="collapse"
                                                    data-bs-target="#collapseTwo" aria-expanded="false"
                                                    aria-controls="collapseTwo">Где можно сдать электрообрудование и радиодетали на переработку

                                            </button>
                                        </div>
                                        <!--/.card-header -->
                                        <div id="collapseTwo" class="accordion-collapse collapse"
                                             aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                            <div class="card-body">
                                                <p>«РесайклПро» работает по всей Беларуси. Подробную информацию о наших приемных пунктах вы можете найти на странице <a href={% url 'punkty' %}>Пункты приема</a>
<br/>Если вашего города нет в списке, вы можете уточнить информцию у наших менеджеров по телефону +375 (29) 392-44-92</p>
                                            </div>
                                            <!--/.card-body -->
                                        </div>
                                        <!--/.accordion-collapse -->
                                    </div>
                                    <!--/.accordion-item -->
                                    <div class="card plain accordion-item">
                                        <div class="card-header" id="headingThree">
                                            <button class="collapsed" data-bs-toggle="collapse"
                                                    data-bs-target="#collapseThree" aria-expanded="false"
                                                    aria-controls="collapseThree">Услуги для юридических и физических лиц
                                            </button>
                                        </div>
                                        <!--/.card-header -->
                                        <div id="collapseThree" class="accordion-collapse collapse"
                                             aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                            <div class="card-body">
                                                <p><b>Для юридических лиц мы предлагаем:</b><br/>
- Определение технического состояния оборудования <br/>
- Демонтаж узлов из оборудования на территории заказчика<br/>
- Полный цикл разборки и переработки  оборудования <br/>
- Безвозмездная сдача техники<br/>


<b>Для физических лиц мы предлагаем:</b><br/>
- Скупку радиодеталей<br/>
- Скупку катализаторов<br/>
- Бесплатный вывоз бытовой техники</p>
                                            </div>
                                            <!--/.card-body -->
                                        </div>
                                        <!--/.accordion-collapse -->
                                    </div>
                                    <!--/.accordion-item -->
                                    <div class="card plain accordion-item">
                                        <div class="card-header" id="headingFour">
                                            <button class="collapsed" data-bs-toggle="collapse"
                                                    data-bs-target="#collapseFour" aria-expanded="false"
                                                    aria-controls="collapseFour">Какое оборудование можно сдать на переработку
                                            </button>
                                        </div>
                                        <!--/.card-header -->
                                        <div id="collapseFour" class="accordion-collapse collapse"
                                             aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                                            <div class="card-body">
                                                <p>Мы принимаем на переработку электрооборудование в полной комплектации (холодильники, стиральные машины, газовые и электроплиты и т.д.)</p>
                                            </div>
                                            <!--/.card-body -->
                                        </div>
                                        <!--/.accordion-collapse -->
                                    </div>
                                    <!--/.accordion-item -->
                                </div>
                                <!--/.accordion -->
                            </div>
                            <!--/column -->
                        </div>
                        <!--/.row -->
                    </div>
                    <!--/.card-body -->
                </div>
                <!--/.card -->
            </div>
            <!-- /.container -->

        </section>


<section class="wrapper bg-light">
      <div class="container pb-14">
        <div class="row gx-lg-8 gx-xl-12 gy-10 align-items-center">
          <div class="col-lg-7 order-lg-2">
            <figure><img class="w-auto" src={% static "img/derevo.jpg" %} alt="Мы скупаем радиодетали"></figure>
          </div>
          <!--/column -->
          <div class="col-lg-5">
            <h3 class="display-5 mb-7">Почему выбирают нас?</h3>
              <div><p><i class="uil uil-arrow-right"></i><b>РесайклПро производит прием отработанных и вышедших из эксплуатации электронных устройств и радиоэлементов  в любом состоянии.</b> Также мы оказываем услуги по демонтажу, переработке  и сдаче полученных в результате переработки драгметаллов в Госфонд Республики Беларусь.
              </p>
                 <p><i class="uil uil-arrow-right"></i> <b>РесайклПро - лицензированный переработчик</b>
Мы имеем специальное разрешение (лицензию) на право осуществления деятельности, связанной с драгоценными металлами и драгоценными камнями и включены в реестр переработчиков.
</p>
               <p>   <i class="uil uil-arrow-right"></i><b>Работаем напрямую с перерабатывающими предприятиями</b>
                   Благодаря прямым контактам с перерабатывающими предприятиями, РесайклПро принимает электрооборудование и радиодетали по выгодным для вас ценам.</p></div>
            <!--/.accordion -->
          </div>
          <!--/column -->
        </div>
        <!--/.row -->
      </div>
      <!-- /.container -->
    </section>
</div>


{% endblock %}