{% extends 'base.html' %}
{% load static %}
{% load editorjs %}

{% block page_title %}{{ region.region_title }}{% endblock %}
{% block meta_description %}{{ region.region_metadesc }}{% endblock %}

{% block opg %}
<meta property="og:title" content="{{ region.region_title }}" />
<meta property="og:description" content="{{ region.region_metadesc }}" />
<meta property="og:url" content="{{ request.build_absolute_uri }}" />
<meta property="og:image" content="{% static '/img/logo.png' %}" />
{% endblock %}
{% block scripts %}
<script type="application/ld+json">
	{
		"@context": "https://schema.org",
		"@graph": [{
			"@type": "ImageObject",
			"@id": "http://themes.iki-bir.com/sandbox/src/img/icons/user.svg",
			"url": "http://themes.iki-bir.com/sandbox/src/img/icons/user.svg",
			"contentUrl": "http://themes.iki-bir.com/sandbox/src/img/icons/user.svg"
		}, {
			"@type": "ImageObject",
			"@id": "http://themes.iki-bir.com/sandbox/src/img/icons/check.svg",
			"url": "http://themes.iki-bir.com/sandbox/src/img/icons/check.svg",
			"contentUrl": "http://themes.iki-bir.com/sandbox/src/img/icons/check.svg"
		}, {
			"@type": "ImageObject",
			"@id": "http://themes.iki-bir.com/sandbox/src/img/icons/briefcase-2.svg",
			"url": "http://themes.iki-bir.com/sandbox/src/img/icons/briefcase-2.svg",
			"contentUrl": "http://themes.iki-bir.com/sandbox/src/img/icons/briefcase-2.svg"
		}, {
			"@type": "ImageObject",
			"@id": "{{ punkt.punkt_image.url }}",
			"url": "{{ punkt.punkt_image.url }}",
			"contentUrl": "{{ punkt.punkt_image.url }}"
		}, {
			"@type": "ImageObject",
			"@id": "{{ agent.agent_image.url }}",
			"url": "{{ agent.agent_image.url }}",
			"contentUrl": "{{ agent.agent_image.url }}"
		}]
	}
</script>
{% endblock %}

{% block content %}
<div class="content-wrapper">
	<section class="wrapper bg-light">
		<div class="container pt-3">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb" id="breadcrumblist" itemscope itemtype="http://schema.org/BreadcrumbList">
					<li class="breadcrumb-item" itemprop="itemListElement" itemscope
						itemtype="http://schema.org/ListItem">
						<a itemprop="item" href="/">Главная</a>
						<meta itemprop="position" content="1" />
						<meta itemprop="name" content="Главная" />
					</li>
					<li class="breadcrumb-item" itemprop="itemListElement" itemscope
						itemtype="http://schema.org/ListItem">
						<a itemprop="item" href="{% url 'punkty'  %}">Пункты приема</a>
						<meta itemprop="position" content="2" />
						<meta itemprop="name" content="Пункты приема" />
					</li>
					<li class="breadcrumb-item active" aria-current="page" itemprop="itemListElement" itemscope
						itemtype="http://schema.org/ListItem">
						<a class="inactiveLink" itemprop="item"
							href="{% url 'region' region.region_slug  %}">{{ region.region_name }}</a>
						<meta itemprop="position" content="3" />
						<meta itemprop="name" content="{{ region.region_name }}" />
					</li>
				</ol>
			</nav>
		</div>
	</section>
	<section class="container ">
		<div class=" row pt-3">
			<div class="col-lg-4">
				<h1 class="display-4 mb-3 pe-xl-10">{{ region.region_name }}</h1>
				<p class="lead fs-lg mb-0 pe-xxl-10">{{ region.body_editorjs | editorjs }}</p>
				<a href="#" class="btn btn-lg btn-primary rounded-pill me-2 mt-5" data-bs-toggle="modal"
					data-bs-target="#modal-01" style="margin-bottom: 40px;">Заказать звонок</a>
			</div>
			<!-- /column -->
			<div class="col-lg-8 mt-lg-2">
				<div class="row align-items-center counter-wrapper gy-6">
					<strong><a class="underline-2 green" href="{% url 'vyezd' %}">Подробнее про маршруты</a></strong>
					{% for tweet in tweets %}
            {% if tweet.tweet_type == 'Выезд'%}
            <div class="col-md-6 col-xl-6">
                <div class="card card-border-start border-primary card_mainpage">
                    <div class="card-body">
                      <blockquote class="icon mb-0">
                        <span class="badge 
                        {% if tweet.tweet_type == 'Новость' %} bg-primary {% endif %}
                        {% if tweet.tweet_type == 'Выезд' %} bg-yellow {% endif %}
                        {% if tweet.tweet_type == 'Внимание' %} bg-red {% endif %}
                        rounded-pill">{{ tweet.tweet_type }}</span> 
                        <div class="card_mainpage_header">{{ tweet.tweet_name}}</div>
                        
                        <p class="mb-2 card_mainpage_text">{{ tweet.tweet_short_desc }}</p>
                        
                      </blockquote>
                    </div>
                    <!--/.card-body -->
                </div>
                <!--/.card -->
            </div>
            {% endif %}
            {% endfor %}
				</div>
				<!--/.row -->
			</div>
			<!-- /column -->
		</div>
	</section>

	<section class="container">
		<div class="row grid-view pt-10">
			<div class="pb-4">
				<h2 class="display-4 mb-3 pe-xl-10">Пункты приема</h2>
				<p class="lead fs-lg mb-0 pe-xxl-10">{{ region.region_add_info }}</p>
			</div>
			{% for punkt in region.punkt_set.all %}
			<div class="col-md-6 col-lg-4">
				<div class="position-relative">
					<div class="shape rounded bg-soft-primary rellax d-md-block" data-rellax-speed="0"
						style="bottom: -0.75rem; right: -0.75rem; width: 98%; height: 98%; z-index: 0; transform: translate3d(0px, 0px, 0px);">
					</div>
					<div class="card shadow-lg">
						<figure class="card-img-top"><img class="img-fluid" src={{ punkt.punkt_image.url }}
								alt="{{ region.region_name }}"></figure>
						<div class="card-body px-6 py-5">
							<div class="mb-1 h4like">{{ punkt.punkt_name }}</div>
							<p class="mb-0">{{ punkt.punkt_short_desc }}</p>
							<p>{{ punkt.body_editorjs | editorjs }}</p>
							<span class="underline"><a target="_blank"
									href="https://yandex.ru/maps/?rtext=~{{ punkt.punkt_geo }}">Построить маршрут в
									Яндекс.Карты</a></span>
						</div>
						<!--/.card-body -->
					</div>
					<!-- /.card -->
				</div>
				<!-- /div -->
			</div>
			{% endfor %}
		</div>
	</section> 
	<section class="wrapper bg-light">
		<div class="container py-10 pt-md-16">
		  <div class="row gx-lg-8 gx-xl-12 gy-10 gy-lg-0">
			<div class="col-lg-4 mt-lg-2">
			  <h2 class="fs-15 text-uppercase text-muted mb-3">каталог радиодеталей</h2>
			  <h3 class="display-4 mb-3 pe-xxl-5">Принимаем более 500 варинатов деталей и плат</h3>
			  <p class="lead fs-lg mb-0 pe-xxl-5">Весь перечень принимаемого материала смотрите в каталоге <a href="{% url 'category' %}" class="btn btn-outline-primary rounded-pill m-3" style="text-decoration: none;">Каталог радиодеталей</a></p>
			</div>
			<!-- /column -->
			<div class="col-lg-8">
			  <div class="row pt-10 row-cols-2 row-cols-md-4 gx-0 gx-md-8 gx-xl-12 gy-12">
	
				{% for item in categorys%}
				{% if forloop.counter < 9%}
				<div class="col" style="padding:5px; margin:0px;">
				  <a href="{% url 'products' item.cat_slug%}"><figure class=""><img src="{{item.cat_image.url}}" alt="" /></figure></a>
				</div>
				<!--/column -->
				{% endif %}
				{% endfor %}
			  </div>
			  <!--/.row -->
			</div>
			<!-- /column -->
		  </div>
		  <!-- /.row -->
		</div>
		<!-- /.container -->
	  </section>
	  <!-- /section -->

	  <section class="wrapper bg-light">
		<div class="container py-10 py-md-10">
		  <div class="row">
			<div class="col-lg-8 col-xl-7 col-xxl-8">
			  <h2 class="fs-15 text-uppercase text-muted mb-3">Выгодно, официально и надежно</h2>
			  <h3 class="display-4 mb-9">Мы обеспечиваем стабильность в работе и открыты к обсуждению лучших условий сделок</h3>
			</div>
			<!-- /column -->
		  </div>
		  <!-- /.row -->
		  <div class="row gx-md-8 gy-8">
			<div class="col-md-6 col-lg-3">
			  <div class="icon btn btn-block btn-lg btn-soft-leaf pe-none mb-5"> <i class="uil uil-money-stack"></i> </div>
			  <h4>Поможем выгоднее сдать материал</h4>
			  <p class="mb-3">Наши специалисты всегда подскажут как выгоднее сдать радиодетали: отдельно или в сборе. При необходимости также помогут с возникающими вопросами</p>
	
			</div>
			<!--/column -->
			<div class="col-md-6 col-lg-3">
			  <div class="icon btn btn-block btn-lg btn-soft-leaf pe-none mb-5"> <i class="uil uil-money-insert"></i> </div>
			  <h4>Рассчитываем наличными на месте</h4>
			  <p class="mb-3">Мы гарантируем выплаты наличными за материал в момент, когда вы сдаете его в РесайклПро. Без задержек и отложенных переводов на карты.</p>
	
			</div>
			<!--/column -->
			<div class="col-md-6 col-lg-3">
			  <div class="icon btn btn-block btn-lg btn-soft-leaf pe-none mb-5"> <i class="uil uil-chart-growth"></i> </div>
			  <h4>Выгодные закупочные цены</h4>
			  <p class="mb-3">Высокие и честные цены на скупаемые позиции.
				Предоставляем специальные условия для клиентов, в зависимости от количества материала.</p>
	
			</div>
			<!--/column -->
			<div class="col-md-6 col-lg-3">
			  <div class="icon btn btn-block btn-lg btn-soft-leaf pe-none mb-5"> <i class="uil uil-truck"></i> </div>
			  <h4>Выезжаем в любые регионы Беларуси</h4>
			  <p class="mb-3">Специалисты компании РесайклПро готовы бесплатно приехать в любой уголок Беларуси, чтобы Вы могли с удобством и выгодой сдать материал.</p>
	
			</div>
			<!--/column -->
		  </div>
		  <!--/.row -->
		</div>
		<!-- /.container -->
	  </section>
	  <!-- /section -->
	<section class="wrapper bg-light wrapper-border">
		<div class="container py-10">
			<div class="card bg-soft-primary rounded-4">
				<div class="card-body p-md-10 p-xl-11">
					<div class="row gx-lg-8 gx-xl-12 gy-10">
						<div class="col-lg-6">
							<h2 class="display-4 mb-4">Часто задаваемые вопросы</h2>
							<p class="lead fs-lg mb-0">Если вы не нашли ответа на свой вопрос позвоните нам или закажите
								<a href="#" data-bs-toggle="modal" data-bs-target="#modal-01">обратный звонок</a></p>
						</div>
						<!--/column -->
						<div class="col-lg-6">
							<div class="accordion accordion-wrapper" id="accordionExample">
								<div class="card plain accordion-item">
									<div class="card-header" id="headingOne">
										<button class="collapsed" data-bs-toggle="collapse"
											data-bs-target="#collapseOne" aria-expanded="true"
											aria-controls="collapseOne">Какие радиодетали вы принимаете?</button>
									</div>
									<!--/.card-header -->
									<div id="collapseOne" class="accordion-collapse collapse"
										aria-labelledby="headingOne" data-bs-parent="#accordionExample">
										<div class="card-body">
											<p>Нам можно сдать все детали, перечисленные в <a href=/category>каталоге
													</a> </p> </div> <!--/.card-body -->
										</div>
										<!--/.accordion-collapse -->
									</div>
									<!--/.accordion-item -->
									<div class="card plain accordion-item">
										<div class="card-header" id="headingTwo">
											<button class="collapsed" data-bs-toggle="collapse"
												data-bs-target="#collapseTwo" aria-expanded="false"
												aria-controls="collapseTwo">Что необходимо для сдачи радиолома?</button>
										</div>
										<!--/.card-header -->
										<div id="collapseTwo" class="accordion-collapse collapse"
											aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
											<div class="card-body">
												<p>Посмотреть адреса и режим работы пунктов приема деталей можно на
													странице подходящего Вам региона. При сдаче электронного лома
													необходимо предъявить паспорт</p>
											</div>
											<!--/.card-body -->
										</div>
										<!--/.accordion-collapse -->
									</div>
									<!--/.accordion-item -->
									<div class="card plain accordion-item">
										<div class="card-header" id="headingThree">
											<button class="collapsed" data-bs-toggle="collapse"
												data-bs-target="#collapseThree" aria-expanded="false"
												aria-controls="collapseThree">Как узнать цену за определенную
												радиодеталь?</button>
										</div>
										<!--/.card-header -->
										<div id="collapseThree" class="accordion-collapse collapse"
											aria-labelledby="headingThree" data-bs-parent="#accordionExample">
											<div class="card-body">
												<p>Актуальные цены указаны в <a href=/category>каталоге </a>, также вы
														можете воспользоваться калькулятором на главной странице или
														позвонить нам</p> </div> <!--/.card-body -->
											</div>
											<!--/.accordion-collapse -->
										</div>
										<!--/.accordion-item -->
										<div class="card plain accordion-item">
											<div class="card-header" id="headingFour">
												<button class="collapsed" data-bs-toggle="collapse"
													data-bs-target="#collapseFour" aria-expanded="false"
													aria-controls="collapseFour">Вы принимаете радиодетали, не
													перечисленные в прейскуранте?</button>
											</div>
											<!--/.card-header -->
											<div id="collapseFour" class="accordion-collapse collapse"
												aria-labelledby="headingFour" data-bs-parent="#accordionExample">
												<div class="card-body">
													<p>Нет. Мы принимаем только радиодетали, перечисленные в нашем <a
															href=/category>прейскуранте </a> </p> </div> <!--/.card-body
															-->
												</div>
												<!--/.accordion-collapse -->
											</div>
											<!--/.accordion-item -->
										</div>
										<!--/.accordion -->
									</div>
									<!--/column -->
								</div>
								<!--/.row -->
							</div>
							<!--/.card-body -->
						</div>
						<!--/.card -->
					</div>
					<!-- /.container -->
	</section>


</div>
{% endblock %}