{% extends 'base.html' %}
{% load static %}

{% block page_title %}«РесайклПро» — Переработка электронных отходов, техники и оборудования{% endblock %}
{% block meta_description %} ООО «РесайклПро» — переработка и утилизация электронных отходов. ✅ Имеем лицензию. ✅
Включены в реестр переработчиков. ✅ Бесплатный вывоз. ✅ Работаем по взаимозачету. ☎ +375 (29) 110-33-04 {% endblock %}
{% block opg %}
<meta property="og:title" content="«РесайклПро» — Переработка электронных отходов, техники и оборудования" />
<meta property="og:description"
    content="ООО «РесайклПро» — переработка и утилизация электронных отходов. ✅ Имеем лицензию. ✅ Включены в реестр переработчиков. ✅ Бесплатный вывоз. ✅ Работаем по взаимозачету. ☎ +375 (29) 110-33-04" />
<meta property="og:url" content="{{ request.build_absolute_uri }}" />
<meta property="og:image" content="{% static '/img/logo.png' %}" />
{% endblock %}


{% block header_class %}
<header class="wrapper" style="background-color: #DFE9F2;">
{% endblock %}


{% block content%}
<section class="wrapper gray-gradient-bg">
    <div class="container pt-10 pb-5 pt-md-14 text-center">
        <div class="row">
            <div class="col-md-10 col-lg-8 col-xl-8 col-xxl-6 mx-auto mb-13">
              
                <h1 class="display-1 mb-4">Купим радиодетали и катализаторы с бесплатным выездом</h1>
                <p class="lead fs-lg px-xl-12 px-xxl-6 mb-7">Свяжитесь с нами и закажите бесплатный выезд в любую точку
                    Беларуси</p>
                <div class="d-flex justify-content-center">
                    <span><a href="#"  data-bs-toggle="modal" data-bs-target="#modal-09" class="btn btn-primary rounded-pill m-3">Заказать бесплатный выезд</a></span>
                    
                </div>
            
            </div>
            <!-- /column -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->

    <div class="container pt-14">
        <div class="row gx-md-5 gy-5 mt-n18  ">

            {% for tweet in tweets %}
            {% if tweet.tweet_type == 'Выезд'%}
            <div class="col-md-6 col-xl-3">
                <div class="card card-border-start border-primary card_mainpage">
                    <div class="card-body">
                      <blockquote class="icon mb-0">
                        <span class="badge 
                        {% if tweet.tweet_type == 'Новость' %} bg-primary {% endif %}
                        {% if tweet.tweet_type == 'Выезд' %} bg-yellow {% endif %}
                        {% if tweet.tweet_type == 'Внимание' %} bg-red {% endif %}
                        rounded-pill">{{ tweet.tweet_type }}</span> 
                        <div class="card_mainpage_header">{{ tweet.tweet_name}}</div>
                        
                        <p class="mb-2 card_mainpage_text">{{ tweet.tweet_short_desc }}</p>
                        
                      </blockquote>
                    </div>
                    <!--/.card-body -->
                </div>
                <!--/.card -->
            </div>
            {% endif %}
            {% endfor %}

        </div>
    </div>
    <!-- /.container -->

</section>
<!-- /section -->






<section class="wrapper bg-light">
    <div class="container pt-14 pt-md-16">
      <div class="row gx-lg-8 gx-xl-12 gy-10 gy-lg-0">
        <div class="col-lg-4 mt-lg-2">
          <h2 class="fs-15 text-uppercase text-muted mb-3">каталог радиодеталей</h2>
          <h3 class="display-4 mb-3 pe-xxl-5">Принимаем более 500 варинатов деталей и плат</h3>
          <p class="lead fs-lg mb-0 pe-xxl-5">Весь перечень принимаемого материала смотрите в каталоге <a href="{% url 'category' %}" class="btn btn-outline-primary rounded-pill m-3">Каталог радиодеталей</a></p>
        </div>
        <!-- /column -->
        <div class="col-lg-8">
          <div class="row pt-10 row-cols-2 row-cols-md-4 gx-0 gx-md-8 gx-xl-12 gy-12">

            {% for item in categorys%}
            {% if forloop.counter < 9%}
            <div class="col" style="padding:5px; margin:0px;">
              <a href="{% url 'products' item.cat_slug%}"><figure class=""><img src="{{item.cat_image.url}}" alt="" /></figure></a>
            </div>
            <!--/column -->
            {% endif %}
            {% endfor %}
          </div>
          <!--/.row -->
        </div>
        <!-- /column -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </section>
  <!-- /section -->



  <section class="wrapper bg-light">
    <div class="container py-14 py-md-16">
      <div class="row">
        <div class="col-xl-10 mx-auto">
          <div class="card image-wrapper bg-full bg-image bg-overlay bg-overlay-400" data-image-src="{% static '/img/photos/bg3.png' %}">
            <div class="card-body p-6 p-md-11 d-lg-flex flex-row align-items-lg-center justify-content-md-between text-center text-lg-start">
              <h3 class="display-6 mb-6 mb-lg-0 pe-lg-10 pe-xl-5 pe-xxl-12 text-white">Закажите бесплатный выезд специалиста и получите до {{ product.first.product_price }} за кг радиодеталей</h3>
              <a href="#" data-bs-toggle="modal" data-bs-target="#modal-09" class="btn btn-white rounded-pill mb-0 text-nowrap">Заказать бесплатный выезд</a>
            </div>
            <!--/.card-body -->
          </div>
          <!--/.card -->
        </div>
        <!-- /column -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </section>
  <!-- /section -->


  <section class="wrapper bg-light">
    <div class="container py-10 py-md-10">
      <div class="row">
        <div class="col-lg-8 col-xl-7 col-xxl-8">
          <h2 class="fs-15 text-uppercase text-muted mb-3">Выгодно, официально и надежно</h2>
          <h3 class="display-4 mb-9">Мы обеспечиваем стабильность в работе и открыты к обсуждению лучших условий сделок</h3>
        </div>
        <!-- /column -->
      </div>
      <!-- /.row -->
      <div class="row gx-md-8 gy-8">
        <div class="col-md-6 col-lg-3">
          <div class="icon btn btn-block btn-lg btn-soft-leaf pe-none mb-5"> <i class="uil uil-money-stack"></i> </div>
          <h4>Поможем выгоднее сдать материал</h4>
          <p class="mb-3">Наши специалисты всегда подскажут как выгоднее сдать радиодетали: отдельно или в сборе. При необходимости также помогут с возникающими вопросами</p>

        </div>
        <!--/column -->
        <div class="col-md-6 col-lg-3">
          <div class="icon btn btn-block btn-lg btn-soft-leaf pe-none mb-5"> <i class="uil uil-money-insert"></i> </div>
          <h4>Рассчитываем наличными на месте</h4>
          <p class="mb-3">Мы гарантируем выплаты наличными за материал в момент, когда вы сдаете его в РесайклПро. Без задержек и отложенных переводов на карты.</p>

        </div>
        <!--/column -->
        <div class="col-md-6 col-lg-3">
          <div class="icon btn btn-block btn-lg btn-soft-leaf pe-none mb-5"> <i class="uil uil-chart-growth"></i> </div>
          <h4>Выгодные закупочные цены</h4>
          <p class="mb-3">Высокие и честные цены на скупаемые позиции.
            Предоставляем специальные условия для клиентов, в зависимости от количества материала.</p>

        </div>
        <!--/column -->
        <div class="col-md-6 col-lg-3">
          <div class="icon btn btn-block btn-lg btn-soft-leaf pe-none mb-5"> <i class="uil uil-truck"></i> </div>
          <h4>Выезжаем в любые регионы Беларуси</h4>
          <p class="mb-3">Специалисты компании РесайклПро готовы бесплатно приехать в любой уголок Беларуси, чтобы Вы могли с удобством и выгодой сдать материал.</p>

        </div>
        <!--/column -->
      </div>
      <!--/.row -->
    </div>
    <!-- /.container -->
  </section>
  <!-- /section -->


  
  
  <section class="wrapper bg-light wrapper-border">
    <div class="container py-10">
      <div class="card bg-soft-primary rounded-4">
        <div class="card-body p-md-10 p-xl-11">
          <div class="row gx-lg-8 gx-xl-12 gy-10">
            <div class="col-lg-6">
              <h2 class="display-4 mb-4">Часто задаваемые вопросы</h2>
              <p class="lead fs-lg mb-0">Если вы не нашли ответа на свой вопрос, позвоните нам или закажите <a href="#" data-bs-toggle="modal" data-bs-target="#modal-01">обратный звонок</a></p>
            </div>
            <!--/column -->
            <div class="col-lg-6">
              <div class="accordion accordion-wrapper" id="accordionExample">
                <div class="card plain accordion-item">
                  <div class="card-header" id="headingOne">
                    <button class="collapsed" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Какие детали вы принимаете?</button>
                  </div>
                  <!--/.card-header -->
                  <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="card-body">
                      <p>Мы принимаем все детали перечисленные на сайте и в <a href="{% static 'materials/price.pdf' %}">прайс-листе</a></p>
                    </div>
                    <!--/.card-body -->
                  </div>
                  <!--/.accordion-collapse -->
                </div>
                <!--/.accordion-item -->
                <div class="card plain accordion-item">
                  <div class="card-header" id="headingTwo">
                    <button class="collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Как сдать Вам детали? Что для этого надо, куда ехать?</button>
                  </div>
                  <!--/.card-header -->
                  <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                    <div class="card-body">
                        <p>При сдаче электронного лома необходимо предъявить паспорт. Адреса и режим работы пунктов приема можно <a href="{% url 'priem' %}">посмотреть на этой старнице</a> или заказать бесплатный выезд</p>
                    </div>
                    <!--/.card-body -->
                  </div>
                  <!--/.accordion-collapse -->
                </div>
                <!--/.accordion-item -->
                <div class="card plain accordion-item">
                  <div class="card-header" id="headingThree">
                    <button class="collapsed" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Как узнать сколько мне заплатят за определенные детали?</button>
                  </div>
                  <!--/.card-header -->
                  <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                    <div class="card-body">
                      <p>Актуальные цены указаны в <a href="{% static 'materials/price.pdf' %}">прайс-листе</a>, также вы можете возпользоваться калькулятором на главной странице или позвонить нам.</p>
                    </div>
                    <!--/.card-body -->
                  </div>
                  <!--/.accordion-collapse -->
                </div>
                <!--/.accordion-item -->
                <div class="card plain accordion-item">
                  <div class="card-header" id="headingFour">
                    <button class="collapsed" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">Радиодетали не перечисленные в прейскуранте, Вы не принимаете?</button>
                  </div>
                  <!--/.card-header -->
                  <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                    <div class="card-body">
                      <p>Мы принимаем все детали перечисленные в прайс-листе.</p>
                    </div>
                    <!--/.card-body -->
                  </div>
                  <!--/.accordion-collapse -->
                </div>
                <!--/.accordion-item -->
              </div>
              <!--/.accordion -->
            </div>
            <!--/column -->
          </div>
          <!--/.row -->
        </div>
        <!--/.card-body -->
      </div>
      <!--/.card -->
    </div>
    <!-- /.container -->
  </section>
  
{% endblock %}